<form action='/user/{{userId}}/Complaints/{{ComplaintId}}/comments' method="POST">
  
  <div class="form-group">
    <label for="comment">Comment</label>
    <input class="form-control" id="comment" name="comment" value="{{comment.content}}"></input>
  </div>
  <button type="submit" class="btn btn-secondary">Weigh In</button>
</form>