<form action='/user/{{userId}}/Complaints/{{ComplaintId}}?_method=PUT' method="POST">

  <div class="form-group">
    <label for="content">Complaint</label>
    <input class="form-control" id="Complaint" name="content" value='{{content}}'></input>
  </div>
  <button type="submit" class="btn btn-secondary">Lodge Your Complaint</button>
</form>