<form action='/user/{{user.id}}/complaints' method="POST">
  
  <div class="form-group">
    <label for="content">Complaint</label>
    <textarea class="form-control" id="complaint" name="content" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-secondary">Lodge Your Complaint</button>
</form>