<form action='/user/{{user.id}}/Complaints' method="POST">
  
  <div class="form-group">
    <label for="content">Complaint</label>
    <input class="form-control" id="content" name="content"></input>
  </div>
  <button type="submit" class="btn btn-secondary">Lodge Your Complaint</button>
</form>